### 1. problem statement:
To understand the influence of the parents background, test preparation etc on students performance

### 2.Data collection :
Data source : https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?select=StudentsPerformance.csv

### 3.Required packages:

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pltl
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import sys
from IPython.display import display 
from src.utils import EDA
from src.exception import CustomerException

### 4.Data Loading

In [2]:
path = 'StudentsPerformance.csv'

df = pd.read_csv(path)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
eda_obj = EDA(df)

### 5.Data Overview
- Shape, column types, missing values, unique values

In [4]:
try:
    eda_obj.data_overview(df)
except Exception as e:
    raise CustomerException(e,sys)

shape of the dataset --> rows : 1000 and columns : 8

Column types:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

number of rows with missing values :
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

dataframe with catgorical columns and its unique values:

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,male,group C,some college,free/reduced,completed
2,,group A,master's degree,,
3,,group D,associate's degree,,
4,,group E,high school,,
5,,,some high school,,